# Virtual environment
.venv/
venv/
ENV/

# Databases (crucial to prevent pushing the 145MB data_prices.db and test results)
*.db

# Log files
*.log

# Python cache
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/
